<head>
	<meta charset="UTF-8">
	<title>Xtend - {{ .Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Xtend is a statically typed programming language sitting on top of Java.">
	<meta name="author" content="Sven Efftinge">
	<meta name="author" content="Miro Spoenemann">
	
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.png">
	
	<link href="{{ .Site.BaseURL }}css/bootstrap.css" rel="stylesheet" type='text/css'>
	<link href="{{ .Site.BaseURL }}css/bootstrap-responsive.css" rel="stylesheet" type='text/css'>
	<link href="{{ .Site.BaseURL }}css/shield-responsive.css" rel="stylesheet" type='text/css'>
	<link href='{{ .Site.BaseURL }}css/fonts.css' rel='stylesheet' type='text/css'>
	<link href="{{ .Site.BaseURL }}css/prettyPhoto.css" rel="stylesheet" media="screen" type='text/css'>
	<link href="{{ .Site.BaseURL }}css/prettify.css" type="text/css" rel="stylesheet"/>
	<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" type='text/css'>
</head>
