<ul id="nav-outline" style="margin-left: 0px;">
	<li class="nav-part">Getting Started</li>
	<li><a href="{{ "documentation/102_domainmodelwalkthrough.html" | relURL }}">15 Minutes Tutorial</a></li>
	<li><a href="{{ "documentation/103_domainmodelnextsteps.html" | relURL }}">15 Minutes Tutorial - Extended</a></li>
	<li><a href="{{ "documentation/104_jvmdomainmodel.html" | relURL }}">Five simple steps to your JVM language</a></li>
		
	<li class="nav-part">Reference Documentation</li>
	<li><a href="{{ "documentation/301_grammarlanguage.html" | relURL }}">The Grammar Language</a></li>
	<li><a href="{{ "documentation/302_configuration.html" | relURL }}">Configuration</a></li>
	<li><a href="{{ "documentation/303_runtime_concepts.html" | relURL }}">Language Implementation</a></li>
	<li><a href="{{ "documentation/305_xbase.html" | relURL }}">Integration with Java</a></li>
	<li><a href="{{ "documentation/307_special_languages.html" | relURL }}">Typical Language Configurations</a></li>
	<li><a href="{{ "documentation/308_emf_integration.html" | relURL }}">Integration with EMF</a></li>
	<li><a href="{{ "documentation/310_eclipse_support.html" | relURL }}">Eclipse Support</a></li>
	<li><a href="{{ "documentation/330_web_support.html" | relURL }}">Web Editor Support</a></li>
	<li><a href="{{ "documentation/340_lsp_support.html" | relURL }}">LSP Support</a></li>
	<li><a href="{{ "documentation/350_continuous_integration.html" | relURL }}">Continuous Integration</a></li>
</ul>
